.quiz_title{
    align-items: center;
    justify-content: center;
    display: flex;
    color: blue;
}

.quiz_subjects{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.btns_subjects{
    width: 200px;
}