.post_grid_item{
    padding: 10px;
    min-height: 250px;
    min-width: 250px;
}
.post_grid_item_title{
    text-align: center;
    color: white;
    height: 35px;
    line-height: 35px;
}

.post_grid_item_title h1{
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}

.post_grid_item_title h1 a{
  color: white;
  text-decoration: none;
}