.footer_container{
    background-color: black;
    margin-top: 60px;
}
.footer_container_main{
    padding-top: 30px;
    padding-bottom: 30px; 
}
.logo_main{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
}
.logo_txt{
    font-size: 28px;
    font-weight: 600;
}
.slogan_txt{
    font-size: 18px;
}
.footer_text{
    font-size: 18px;
    margin: 0;
    color:white;
    padding-top: 10px;
    text-align: center;
}
.footer_text a{
    color: white;
}
.footer_rows{
    display: flex;
    flex-direction: column;
}

.footer_rows_items{
    padding: 10px;
    display: contents;
}

.footer_copyright{
    text-align: center;
    margin:0 auto;
    padding-bottom: 13px;
    
}
@media (min-width:768px) {
    .footer_rows{
        flex-direction: row;
    }
    .footer_rows_items{
        padding: 10px;
        width: 384px;
        display: block;
    }
}
@media (min-width:900px){
    .footer_rows_items{
        padding: 10px;
        width: 225px;
    }
    .footer_container_main{
        display: flex;
        flex-direction: row;
       
    }
    .social_medias{
        width: max-content;
        margin: 0 auto;
    }
}