body{
  background-color: #fff;
  font-family:"Times New Roman", Times, serif; 
  margin:0px; 
}
.container_main{
  width: 100%;
  max-width: 1024px;
  margin:0 auto;
}
p.title{
font-size: 18px;
margin: 0;
color:black;
text-transform: capitalize;
cursor: pointer;
}
p.para{
  font-size: 19px;
  line-height: 1.8rem;
  font-weight: 400;
}
a{
  text-decoration: none;
}
p.title:hover{
  color: rgb(96, 96, 96);
}

footer{
  height: 100px;
  padding: 10px 10px;
  margin: 0 auto;
}
.form-control{
  width: 100%;
  height: 28px;
  font-size: 22px;
}
.form-group{
  padding: 10px;
}
.btn{
  width: -webkit-fill-available;
  border: 0;
  background-color: black;
  color: #fff;
}
.btn:hover{
  background-color: rgb(67, 64, 64);
}
.view_more_link{
  width: max-content;
  margin:0 auto;
  
}
.view_more_link a{
  color: black;
  text-decoration: none;
}
.post_carousel{
 display: flex;
 flex-direction: column; 
 width: 100%;
 padding-top:1rem;
}
.post_carousel_main{
  width: 100%;
}
.post_carousel_content{
  padding-left: 10px;
  padding-right: 10px;
}
.post_carousel_item{
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.post_grid{
display: grid;
overflow: hidden;
width: auto;
}
.post_btn{
  padding: 34px;
  border: 0;
  width: -webkit-fill-available;
  margin-top:10px;
  margin-bottom: 10px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.post_btn h1{
  width: fit-content;
  margin: 0 auto;
  font-weight: 600;
  font-size: 2em;
}
.post_btn h1 a{
  color:white;
  text-decoration: none;
}
.post_btn_item{
  padding-left: 5px;
  padding-right: 5px;
}
.red{
  background-color: red;
}
.blue{
  background-color: rgb(48, 122, 224);
}
.green{
  background-color: rgb(3, 211, 83);
}
.purple{
  background-color: rgba(171, 0, 0);
}
.yellow{
  background-color: rgb(200, 226, 7);
}
.orange{
  background-color: rgb(194, 73, 2);
}
.main_color{
  background-color: rgb(119, 46, 0);
  
}
.text_color_main{
  color: rgb(119, 46, 0)
}

table{
  width: 100%;
}
table tr td{
  text-align: center;
  border-bottom: 1px solid black;
}


@media(min-width:518px){
  .post_grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .post_carousel_item{
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media(min-width:768px){
  .post_grid{
    grid-template-columns: repeat(3, 1fr);
  }
  .post_carousel{
    padding-top: 2rem;
    flex-direction: row; 
   }

   .post_carousel_item{
     grid-template-columns: repeat(4, 1fr);
   }
   .post_btn_item{
    max-width: 190px;
    height: 130px;
   }
}

@media(min-width:1040px){
  .post_carousel_item{
    grid-template-columns: repeat(5, 1fr);
  }
  .post_btn{
    min-width: 190px;
  }
}

